@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Nunito Variable', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="password"]::-ms-reveal {
  display: none
}

input[type="password"] {
  -webkit-appearance: none;
}